**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.proj**/.user
**/*Dockerfile*
**/*docker-compose*
**/.env
**/*mp3*
**/*jpeg*
Build/*.yaml
bin
obj
MediaStudio.Minio
LICENSE
READMI**/.md