**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.proj**/.user
**/*Dockerfile*
**/*docker-compose*
**/.env
Build/*.yaml
bin
obj
LICENSE
READMI**/.md